*.pyc
__pycache__
*.pyo
dist/**
*.egg-info*
.idea/
venv/
build/
.tox/
db.sqlite3
dist/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py
media/
documents/